nav 
  {position: fixed; 
  text-align: center; 
  height: 40px
  top: 0px;
  left: 0px; 
  width: 100%;
  text-align:center;
  background-color: rgb(9,9,9);
  }
  .one {float: left; 
  width: 50%; 
  margin-top: 40px; 
  height:500px;
  background-color: red;
  }
  .two {float: left; 
  width: 50%; 
  margin-top: 40px; 
  height:500px;
  background-color:blue;
  }
  .footer {clear: both;
  background-color: green
  text-align:center;}
