.high {background-color: red; color: rgb(f,f,f);} 
.high>h3 {text-align: center; color: white;}
.medium {background-color: orange; color: brown;} 
.medium>h3 {text-align: center; color: white;}
.low {background-color: rgb(200,200,200); color: black;} 
.low>h3 {text-align:; center; color: white;}
section {height:300px;width:300px;overflow:auto;margin:10 10 10 10;border:2px dotted black;}
